<?xml version="1.0"?>
<robot name="cylinder" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="cylinder_macro" params="
        namespace
        radius
        height
        mass
        parent:=^|world
        *origin
        ">

        <xacro:property name="scale" value="1 1 1"/>

        <link name="cylinder">
            <visual>
                <geometry>
                    <cylinder radius="${radius}" length="${height}" />
                </geometry>
                <material name="LightGrey">
                    <color rgba="0.7 0.7 0.7 1.0"/>
                </material>
            </visual>
            <collision concave="true">
                <geometry>
                    <cylinder radius="${radius}" length="${height}" />
                </geometry>
            </collision>
                <inertial>
                <mass value="${mass}"/>
                <xacro:insert_block name="origin"/>
                <inertia ixx="${mass/4 * radius**2 + mass/12 * height**2}" ixy="0.0" ixz="0.0" iyy="${mass/4 * radius**2 + mass/12 * height**2}" iyz="0.0" izz="${mass / 2 * radius**2}"/>
            </inertial>
        </link>
        <link name="world"/>
        <joint name="cylinder-world-joint" type="fixed">
            <parent link="${parent}"/>
            <child link="cylinder"/>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        </joint>

    </xacro:macro>
</robot>
